.arrivals {
  margin-bottom: 90px;

  &__container {
  }

  &__uptitle {
    margin-bottom: 21px;
  }

  &__row {
    margin-bottom: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
  }

  &__controls {
    display: flex;
  }

  &__control {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #353535;
    padding: 3px 19px;
    max-height: 31px;

    &:not(:last-child) {
      margin-right: 36px;
    }

    &:hover {
      color: #ffffff;
      background-color: #1c1b1b;
    }
  }

  &__subtitle {
  }
}
